__pycache__
.vscode
.idea
backend/log/*
frontend/log/*
backend/supervisord.conf
backend/app/.env
backend/__pycache__
*/__pycache__
frontend/node_modules
frontend/dist
frontend/build
.ipynb
scraper/tenders/assets/*
scraper/tenders/go_conf.py
scraper/db/cfg.py
/scraper/tenders/go_update.ipynb
/scraper/db/db_test.ipynb
/scraper/tenders/assets/
/scraper/db/.ipynb_checkpoints/
/scraper/db/test_cfg.py
supervisord.conf
