@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html{
  min-width: 1440px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
}
html,body{
  padding: 0;
  margin: 0;
  background: rgb(244, 248, 248);
  min-height: 100%;
  box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}

/* ant Patch*/
button[ant-click-animating-without-extra-node]:after {
  border: 0 none;
  opacity: 0;
  animation:none 0 ease 0 1 normal;
}

#root{
  height: 100%;
   color: rgb(50, 55, 61) !important;
}
.ant-spin-dot-item{
  background-color: #42ad84 !important;
}
