.strength-overview .title{
    color: #585959;
    font-size:2rem;
    font-weight: 700;
    line-height: 2rem;
    margin-left: 0.5rem;

}
.strength-overview{
    margin:5rem 5rem 2rem 5rem;

}

.strength-overview .strength-card{
    margin: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
}
.strength-overview .strength-card  .ant-card-body{
    width: 100% !important;
}

.strength-overview .strength-card .name{
    font-size: 1.2rem;
    font-weight: 700;
    color:#546d69;
}

